block-color ?= primary
alt-color ?= secondary

/* Notifs */
.notif
	width: 100%;
	min-height: 2rem;
	font-size: 1rem;
	font-family: "Metrophobic";
	text-align: center;
	font-weight: 200;
	display: inline-block;
	background-color: rgb(237, 237, 240);
	border: .1rem solid rgb(0,0,0);
	& > *:not(button) 
		margin: .5rem;
	& > * 
		display: inline-block;
		vertical-align: middle;
	&::before 
		border: 0;
		content: 'x'
		cursor: pointer;
		background: url(/img/close.svg) center center no-repeat;
		background-color: rgba(0,0,0,0.1);
		color: transparent !important;
		float: right;
		width: 2.5em;
		height: 2.5em;
	&.notif-float
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		width: 50vw;
	.notif[closed] 
		animation: disappear 2s;
		display: none;	
	&::before:hover 
		background-color: rgba(0,0,0,0.2) !important;
		transition: .3s;
.notif-success 
	background-color: rgb(136, 255, 209);
.notif-warning 
	background-color: rgb(255, 234, 128);
.notif-error 
	background-color: rgb(255, 106, 117);
.notif-important 
	background-color: rgb(0, 96, 223);
	color: rgb(255,255,255);
.notif-important > button 
	filter: invert(100%);
@media all and (max-width:720px)
	.notif
		&::before
			background-color: transparent !important;
		&.notif-float
			width calc(100% - 2rem)