// forms
block-color ?= primary
alt-color ?= secondary

input[type="text"], .input-group, textarea, select
	outline none
	border 2px solid alt-color
	border-radius 0
	transition .3s
	&.light
		border 2px solid lighten(alt-color, 95%)
		border-bottom 2px solid alt-color
		background-color lighten(alt-color, 95%)
		&:hover
			border 2px solid lighten(alt-color, 80%)
			background-color lighten(alt-color, 80%)
			border-bottom 2px solid alt-color
		&:active, &:focus
			border 2px solid lighten(alt-color, 60%)
			background-color lighten(alt-color, 60%)
			border-bottom 2px solid alt-color
.input-group
	display inline-flex
	& > span
		height: min-content;
		margin: auto 0;
		min-width 2em
		text-align: center;
		vertical-align: middle;
	& > input
		border 0
		background none
		flex 1