block-color ?= primary
alt-color ?= secondary

::selection
	background lighten(alt-color, 30%)
table
	border 2px solid alt-color
	& th ,& td 
		min-width 1em
		margin 0
		text-align left 
		border-bottom 1px solid alt-color
		padding 0 10px 10px 10px
		&.numeric
			text-align right
	& tr:hover
		background-color lighten(alt-color, 80%)
blockquote
	border-left: 10px solid alt-color
	padding: 1em 40px 1em 40px
	margin 0
	& > cite
		display: block;
		text-align: right;
		&::before
			content '-'
			margin-right 5px
// lists
ul, ol
	padding-left: 2rem;
ul
	list-style disc
	& > ul, & > ol
		list-style circle
/* all links */
a
	color link
	padding 0
	margin 0
	border 0
	text-decoration underline
	&:hover
		text-decoration none
	&:active, &:focus
		background-color link-active
	&:visited
		color link-v
		&:active, &:focus
			background-color link-v-active