/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/data/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/data/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/data/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/data/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/data/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/data/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* metrophobic-regular - latin */
@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: url('/data/fonts/metrophobic-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Metrophobic Regular'), local('Metrophobic-Regular'),
       url('/data/fonts/metrophobic-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/data/fonts/metrophobic-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/data/fonts/metrophobic-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/data/fonts/metrophobic-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/data/fonts/metrophobic-v13-latin-regular.svg#Metrophobic') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/data/fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/data/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/data/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/data/fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/data/fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/data/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/data/fonts/quicksand-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/data/fonts/quicksand-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/data/fonts/quicksand-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/data/fonts/quicksand-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/data/fonts/quicksand-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/data/fonts/quicksand-v19-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/data/fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('/data/fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/data/fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/data/fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/data/fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/data/fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
