/* Omni bundle: everything */
*,
::before,
::after {
  box-sizing: border-box;
}
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
main {
  display: block;
}
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
iframe {
  border-style: none;
}
img {
  border-style: none;
}
svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
button,
input,
select {
  margin: 0;
}
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}
input {
  overflow: visible;
}
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
select {
  text-transform: none;
}
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
details {
  display: block;
}
dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}
[hidden] {
  display: none;
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
[aria-hidden="false"][hidden] {
  display: initial;
}
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
button,
input,
select,
textarea {
  background-color: transparent; /* 1 */
  border: 1px solid WindowFrame; /* 1 */
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  letter-spacing: inherit; /* 2 */
  padding: 0.25em 0.375em; /* 1 */
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center/1em;
  border-radius: 0;
  padding-right: 1em;
}
select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}
::-ms-expand {
  display: none;
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.54);
}
html {
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system, /* Windows 6+ */ "Segoe UI", /* Android 4+ */ "Roboto", /* Ubuntu 10.10+ */ "Ubuntu", /* Gnome 3+ */ "Cantarell", /* KDE Plasma 5+ */ "Noto Sans", /* fallback */ sans-serif, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}
code,
kbd,
samp,
pre {
  font-family: /* macOS 10.10+ */ "Menlo", /* Windows 6+ */ "Consolas", /* Android 4+ */ "Roboto Mono", /* Ubuntu 10.10+ */ "Ubuntu Monospace", /* KDE Plasma 5+ */ "Noto Mono", /* KDE Plasma 4+ */ "Oxygen Mono", /* Linux/OpenOffice fallback */ "Liberation Mono", /* fallback */ monospace, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/data/fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url("/data/fonts/montserrat-v14-latin-regular.eot?#iefix") format('embedded-opentype'), url("/data/fonts/montserrat-v14-latin-regular.woff2") format('woff2'), url("/data/fonts/montserrat-v14-latin-regular.woff") format('woff'), url("/data/fonts/montserrat-v14-latin-regular.ttf") format('truetype'), url("/data/fonts/montserrat-v14-latin-regular.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: url("/data/fonts/metrophobic-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Metrophobic Regular'), local('Metrophobic-Regular'), url("/data/fonts/metrophobic-v13-latin-regular.eot?#iefix") format('embedded-opentype'), url("/data/fonts/metrophobic-v13-latin-regular.woff2") format('woff2'), url("/data/fonts/metrophobic-v13-latin-regular.woff") format('woff'), url("/data/fonts/metrophobic-v13-latin-regular.ttf") format('truetype'), url("/data/fonts/metrophobic-v13-latin-regular.svg#Metrophobic") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/data/fonts/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url("/data/fonts/open-sans-v17-latin-regular.eot?#iefix") format('embedded-opentype'), url("/data/fonts/open-sans-v17-latin-regular.woff2") format('woff2'), url("/data/fonts/open-sans-v17-latin-regular.woff") format('woff'), url("/data/fonts/open-sans-v17-latin-regular.ttf") format('truetype'), url("/data/fonts/open-sans-v17-latin-regular.svg#OpenSans") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("/data/fonts/quicksand-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(''), url("/data/fonts/quicksand-v19-latin-regular.eot?#iefix") format('embedded-opentype'), url("/data/fonts/quicksand-v19-latin-regular.woff2") format('woff2'), url("/data/fonts/quicksand-v19-latin-regular.woff") format('woff'), url("/data/fonts/quicksand-v19-latin-regular.ttf") format('truetype'), url("/data/fonts/quicksand-v19-latin-regular.svg#Quicksand") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("/data/fonts/raleway-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'), url("/data/fonts/raleway-v14-latin-regular.eot?#iefix") format('embedded-opentype'), url("/data/fonts/raleway-v14-latin-regular.woff2") format('woff2'), url("/data/fonts/raleway-v14-latin-regular.woff") format('woff'), url("/data/fonts/raleway-v14-latin-regular.ttf") format('truetype'), url("/data/fonts/raleway-v14-latin-regular.svg#Raleway") format('svg'); /* Legacy iOS */
}
html {
  font-family: "Montserrat";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  margin-top: 0;
}
button,
input[type=submit],
input[type=reset] {
  padding: 0.25em 0.5em;
  border: 2px solid transparent;
  color: #fff;
  background-color: #f25767;
  transition: 0.3s;
  outline: 0;
  transition: 0.3s;
}
button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #f4707e;
}
button:active,
input[type=submit]:active,
input[type=reset]:active,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus {
  box-shadow: 0 0 0 3px #f68995;
  color: #fff;
  background-color: #f25767;
}
button.alternate,
input[type=submit].alternate,
input[type=reset].alternate {
  color: #fff;
  background-color: #bdbdbd;
}
button.alternate:hover,
input[type=submit].alternate:hover,
input[type=reset].alternate:hover {
  color: #fff;
  background-color: #c7c7c7;
}
button.alternate:active,
input[type=submit].alternate:active,
input[type=reset].alternate:active,
button.alternate:focus,
input[type=submit].alternate:focus,
input[type=reset].alternate:focus {
  box-shadow: 0 0 0 3px #d1d1d1;
  color: #fff;
  background-color: #bdbdbd;
}
button.text,
input[type=submit].text,
input[type=reset].text {
  color: #d61125;
  background: transparent;
}
button.text:hover,
input[type=submit].text:hover,
input[type=reset].text:hover {
  background: #f2f2f2;
}
button.text:active,
input[type=submit].text:active,
input[type=reset].text:active,
button.text:focus,
input[type=submit].text:focus,
input[type=reset].text:focus {
  color: #d61125;
  background: transparent;
  box-shadow: 0 0 0 3px #d1d1d1;
}
button.outline,
input[type=submit].outline,
input[type=reset].outline {
  color: #f25767;
  border: 2px solid #f25767;
  background-color: transparent;
}
button.outline:hover,
input[type=submit].outline:hover,
input[type=reset].outline:hover {
  background: #f25767;
  color: #fff;
}
button.raised,
input[type=submit].raised,
input[type=reset].raised {
  box-shadow: 0 3px 2px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 2px 5px 0 rgba(0,0,0,0.12);
}
button.raised:hover,
input[type=submit].raised:hover,
input[type=reset].raised:hover {
  box-shadow: 0 2px 4px -2px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 2px 10px 0 rgba(0,0,0,0.12);
}
button.raised:active,
input[type=submit].raised:active,
input[type=reset].raised:active,
button.raised:focus,
input[type=submit].raised:focus,
input[type=reset].raised:focus {
  box-shadow: 0 0 0 3px #f68995;
}
input[type="text"],
.input-group,
textarea,
select {
  outline: none;
  border: 2px solid #bdbdbd;
  border-radius: 0;
  transition: 0.3s;
}
input[type="text"].light,
.input-group.light,
textarea.light,
select.light {
  border: 2px solid #fcfcfc;
  border-bottom: 2px solid #bdbdbd;
  background-color: #fcfcfc;
}
input[type="text"].light:hover,
.input-group.light:hover,
textarea.light:hover,
select.light:hover {
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  border-bottom: 2px solid #bdbdbd;
}
input[type="text"].light:active,
.input-group.light:active,
textarea.light:active,
select.light:active,
input[type="text"].light:focus,
.input-group.light:focus,
textarea.light:focus,
select.light:focus {
  border: 2px solid #e5e5e5;
  background-color: #e5e5e5;
  border-bottom: 2px solid #bdbdbd;
}
.input-group {
  display: inline-flex;
}
.input-group > span {
  height: min-content;
  margin: auto 0;
  min-width: 2em;
  text-align: center;
  vertical-align: middle;
}
.input-group > input {
  border: 0;
  background: none;
  flex: 1;
}
::selection {
  background: #d1d1d1;
}
table {
  border: 2px solid #bdbdbd;
}
table th,
table td {
  min-width: 1em;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 10px 10px 10px;
}
table th.numeric,
table td.numeric {
  text-align: right;
}
table tr:hover {
  background-color: #f2f2f2;
}
blockquote {
  border-left: 10px solid #bdbdbd;
  padding: 1em 40px 1em 40px;
  margin: 0;
}
blockquote > cite {
  display: block;
  text-align: right;
}
blockquote > cite::before {
  content: '-';
  margin-right: 5px;
}
ul,
ol {
  padding-left: 2rem;
}
ul {
  list-style: disc;
}
ul > ul,
ul > ol {
  list-style: circle;
}
a {
  color: #006bd4;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:active,
a:focus {
  background-color: rgba(0,96,223,0.2);
}
a:visited {
  color: #952bb9;
}
a:visited:active,
a:visited:focus {
  background-color: rgba(149,43,185,0.2);
}
hr {
  width: auto;
  height: 2px;
  background: #bdbdbd;
  border: 0;
}
.container * {
  max-width: 800px;
  margin: 0 auto;
}
.container.small * {
  max-width: 600px;
}
.flex {
  display: flex;
}
.flex * {
  height: auto;
  margin: auto 0;
}
.flex .tab {
  flex: 1;
}
.flex.vertical {
  flex-direction: column;
}
.flex.vertical * {
  margin: 0;
  text-align: left;
}
.menu,
.menu-drop {
  border: 2px solid #bdbdbd;
  list-style: none;
  padding-left: 0;
  width: max-content;
  background-color: #fff;
}
.menu *,
.menu-drop * {
  padding: 0.5em;
  margin: 0;
}
.menu li,
.menu-drop li {
  cursor: pointer;
}
.menu li:hover,
.menu-drop li:hover {
  background-color: #e5e5e5;
}
.menu-drop {
  margin: 0;
  position: absolute;
  display: none;
}
.menu-drop[open] {
  display: block;
}
dialog {
  border: 2px solid #bdbdbd;
  display: none;
}
dialog[open] {
  display: block;
  position: absolute;
  max-width: 600px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 320px;
}
dialog::backdrop {
  background-color: rgba(229,229,229,0.8);
}
.notif {
  width: 100%;
  min-height: 2rem;
  font-size: 1rem;
  font-family: "Metrophobic";
  text-align: center;
  font-weight: 200;
  display: inline-block;
  background-color: #ededf0;
  border: 0.1rem solid #000;
}
.notif > *:not(button) {
  margin: 0.5rem;
}
.notif > * {
  display: inline-block;
  vertical-align: middle;
}
.notif::before {
  border: 0;
  content: 'x';
  cursor: pointer;
  background: url("/img/close.svg") center center no-repeat;
  background-color: rgba(0,0,0,0.1);
  color: transparent !important;
  float: right;
  width: 2.5em;
  height: 2.5em;
}
.notif.notif-float {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 50vw;
}
.notif .notif[closed] {
  animation: disappear 2s;
  display: none;
}
.notif::before:hover {
  background-color: rgba(0,0,0,0.2) !important;
  transition: 0.3s;
}
.notif-success {
  background-color: #88ffd1;
}
.notif-warning {
  background-color: #ffea80;
}
.notif-error {
  background-color: #ff6a75;
}
.notif-important {
  background-color: #0060df;
  color: #fff;
}
.notif-important > button {
  filter: invert(100%);
}
@media all and (max-width: 720px) {
  .notif::before {
    background-color: transparent !important;
  }
  .notif.notif-float {
    width: calc(100% - 2rem);
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  background: #fff;
  padding: 0.5rem;
}
p {
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
a.demo-a {
  color: #006bd4 !important;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: underline;
}
a.demo-a.hover {
  text-decoration: none;
}
a.demo-a.active,
a.demo-a.focus {
  background-color: rgba(0,96,223,0.2) !important;
}
a.demo-a.visited {
  color: #952bb9 !important;
}
a.demo-a.visited.active,
a.demo-a.visited.focus {
  background-color: rgba(149,43,185,0.2) !important;
}
.demo-font-open {
  font-family: "Open Sans";
}
.demo-font-raleway {
  font-family: "Raleway";
}
.demo-font-montserrat {
  font-family: "Montserrat";
}
.demo-font-metrophobic {
  font-family: "Metrophobic";
}
.demo-font-quicksand {
  font-family: "Quicksand";
}
.flex.demo {
  border: 1px solid;
}
.flex.demo * {
  margin: auto 0 auto 10px;
}
.flex.demo.demo-v {
  max-width: 200px;
}
/*# sourceMappingURL=omni.bundle.css.map */