@import "variables"

html, body {
  margin: 0;
  padding 0
}

body {
  font-size: 1rem;
  background: #fff;
  padding: 0.5rem;
}

p {
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6
	margin-top 0
	
// demos
.demo
	a&-a
		color link !important
		padding 0
		margin 0
		border 0
		text-decoration underline
		&.hover
			text-decoration none
		&.active, &.focus
			background-color link-active !important
		&.visited
			color link-v !important
			&.active, &.focus
				background-color link-v-active !important
	&-font
		&-antipode
			font-family "Antipode"
		&-philippa
			font-family "Philippa"
	&-notif
		& > *
			margin-bottom 0
			margin-left 1px
		@media all and (max-width: 600px)
			flex-direction column
			& *
				margin-left 0
				margin-bottom 1px
.flex.demo
	border 1px solid
	& *
		margin auto 0 auto 10px
	&.demo-v
		max-width 200px
		