/* This is the light tone of your theme color */
/* Usage: active state background */
color2 = #ECF87F
/* This is your theme color */
color3 = #81B622
/* The text-remplacant; this is your theme color, but darker */
/* Usage: button text, borders, etc */
color4 = #3D550C
back = white 
fore = black

primary = #f25767
primary-light = lighten(primary, 30%)
primary-dark = darken(primary, 30%)

secondary = #bdbdbd
secondary-light = lighten(secondary, 30%)
secondary-dark = darken(secondary, 30%)

link = #006bd4
link-active = #0060df33

link-v = #952bb9
link-v-active = #952bb933

color-worb(n)
	luminosity(n) < 0.2 ? black : white
color-calc(n)
	color color-worb(n)
	background-color n

/* colors: not yet good */
/*
Primary: these are things that a user should not missin his apptime
Variants: Light, Dark
Use: Buttons, Header
Colors: background: dark, foreground: light

Secondary: these are components that are 'over the background'
Variants: Light, Dark
Use: Selected text, slider, checkboxes, radio, links and headlines
colors: background: light, foreground: dark

Surfaces: these are components that are above the ground
Use: drawers, cards
colors: background: inherited, foreground: inherited